# Node modules
node_modules
# Logs
*.log
logs/
# Prisma
prisma/*.db
prisma/*.sqlite
prisma/migrations
# Environment variables
.env
.env.local
.env.*.local
# Temporal files
*.swp
*.tmp
*.bak
*.pid
*.seed
*.pid.lock
# Build
dist/
# Tests
coverage/
tests/
__tests__/
# Docker
Dockerfile
docker-compose.yml
# IDE / Editor directories and files
.idea/
.vscode/
*.sublime*
# OS files
.DS_Store
Thumbs.db
